<div class="container">
  <button (click)="logout()">Logout</button>

  <h1>Connection Form</h1>
  <select [(ngModel)]="selectedDatabaseType">
    <option value="mongodb">MongoDB</option>
    <option value="postgresql">PostgreSQL</option>
  </select>
  <form (ngSubmit)="onConnect()" #connectForm="ngForm">
    <label>
      Database Name:
      <input
        type="text"
        [(ngModel)]="databaseName"
        name="databaseName"
        required
      />
    </label>
    <label>
      Database URL:
      <input type="text" [(ngModel)]="url" name="url" required />
    </label>
    <label>
      Username:
      <input type="text" [(ngModel)]="username" name="username" required />
    </label>
    <label>
      Password:
      <input type="password" [(ngModel)]="password" name="password" required />
    </label>
    <button type="submit" [disabled]="loading">Connect</button>
  </form>

  <div *ngIf="loading" class="loading">Connecting...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <table *ngIf="result" class="table" border="1">
    <thead>
      <tr>
        <th>Table Name</th>
        <th>Column Name</th>
        <th>Column Type</th>
        <th>Column Values</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let tableName of getTableNames(result)">
        <ng-container
          *ngFor="let columnName of getTableNames(result[tableName])"
        >
          <tr>
            <td>{{ tableName }}</td>
            <td>{{ columnName }}</td>
            <td>{{ getColumnType(result[tableName][columnName]) }}</td>
            <td>
              <select>
                <option
                  *ngFor="
                    let value of getColumnValues(result[tableName][columnName])
                  "
                >
                  {{ value }}
                </option>
              </select>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="result">
  <div class="queryBuilderContainer">
    <div *ngFor="let queryBuilder of queryBuilders; let i = index">
      <div>
        <div *ngIf="queryBuilder.config">
          <query-builder
            [(ngModel)]="queryBuilder.query"
            [config]="queryBuilder.config"
            (change)="onQueryChange(i)"
          ></query-builder>
          <button (click)="removeQueryBuilder(i)">Remove</button>
        </div>
      </div>
    </div>
    <button (click)="addQueryBuilder()">Add Query Builder</button>
  </div>

  <div *ngFor="let yAxisArray of yAxisColumnNamesArrays; let i = index">
    <label for="yAxisInput{{ i }}">Y-Axis Column Name {{ i + 1 }}:</label>
    <select
      [(ngModel)]="yAxisArray[0]"
      (change)="toggleYAxisColumn(i)"
      id="yAxisInput{{ i }}"
    >
      <ng-container *ngIf="result">
        <ng-container *ngFor="let tableName of getTableNames(result)">
          <ng-container
            *ngFor="let columnName of getTableNames(result[tableName])"
          >
            <option>{{ columnName }}</option>
          </ng-container>
        </ng-container>
      </ng-container>
    </select>
    <button *ngIf="i === 0" (click)="addYAxisInput()">+</button>
    <button *ngIf="i > 0" (click)="removeYAxisInput(i)">-</button>
  </div>

  <div *ngIf="result">
    <label for="xAxisInput">X-Axis Column Name:</label>
    <select [(ngModel)]="xAxisColumnName" (change)="toggleXAxisColumn()">
      <ng-container *ngIf="result">
        <ng-container *ngFor="let tableName of getTableNames(result)">
          <ng-container
            *ngFor="let columnName of getTableNames(result[tableName])"
          >
            <option>{{ columnName }}</option>
          </ng-container>
        </ng-container>
      </ng-container>
    </select>
  </div>
</div>

<canvas id="myChart"></canvas>
<button (click)="disconnectFromDatabase(url)">Disconnect</button>
