<form (submit)="onConnect()">
  <label>
    URL:
    <input type="text" name="url" [(ngModel)]="url" />
  </label>
  <br />
  <label>
    Username:
    <input type="text" name="username" [(ngModel)]="username" />
  </label>
  <br />
  <label>
    Password:
    <input type="password" name="password" [(ngModel)]="password" />
  </label>
  <br />
  <button type="submit" [disabled]="loading">Connect</button>
</form>

<div *ngIf="loading" class="loading-indicator">Loading...</div>

<div *ngIf="result">
  <h2>Tables:</h2>
  <div *ngFor="let table of result | keyvalue">
    <h3>{{ table.key }}</h3>
    <table class="table" border="1">
      <thead>
        <tr>
          <th *ngFor="let columnName of getColumnNames(table.value)">
            {{ columnName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of getTableRows(table.value)">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="error" class="error-message">Error: {{ error }}</div>
